html, body {
    height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.story {
  text-align: center;
  color: white;
  font-size: 100px;
  font-weight: bold;
  padding-top: 15%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.visualz{
  text-align: center;
  color: white;
  font-size: 50px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
}

.arrow{
  padding-top: 40px;
}

#one {
  background: url("one.jpg");
  background-size: cover;
  background-position: center;
}

#two {
  background: url("two.jpg");
  background-size: cover;
  background-position: center;
}

#three {
  background: black;
  background-size: cover;
  background-position: center;
}

#four {
  background: grey;
  background-size: cover;
  background-position: center;
}

#five {
  background: url(five.jpg);
  background-size: cover;
  background-position: center;
}

#six {
  background: url(six.jpg);
  background-size: cover;
  background-position: center;
}

#seven {
  background: url(seven.jpg);
  background-size: cover;
  background-position: center;
}

#eight {
  background: blue;
  background-size: cover;
  background-position: center;
}

#nine {
  background: url(nine.jpg);
  background-size: cover;
  background-position: center;
}

#ten {
  background: url(ten.jpg);
  background-size: cover;
  background-position: center;
}
